<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="header_logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Stack_Overflow_logo.svg/1280px-Stack_Overflow_logo.svg.png"/>
        </div>
        <div class="header_search d-flex justify-content-center align-items-center">
            <p>Products</p>
            <div class="header_search_input w-100">
                <!-- <div>icon</div> -->
                <input />
            </div>
        </div>
        <div class="header_info d-flex align-items-center">
            <div class="header_info_notice">
                <img src="https://cdn.icon-icons.com/icons2/2070/PNG/512/box_icon_126495.png"/>

            </div>
            <div class="header_info_image">
                hinh anh
            </div>
        </div>
    </header>
    <section class="section_body d-flex">
        <nav class="navbar_list">
            <div class="navbar_items action">
                <p>Home</p>
            </div>
            <div class="navbar_items no_action">
                <p>Question</p>
            </div>
            <div class="navbar_items no_action">
                <p>Tag</p>
            </div>
            <div class="navbar_items no_action">
                <p>Saved</p>
            </div>
            <div class="navbar_items no_action">
                <p>Users</p>
            </div>
        </nav>
        <div class="section_body_main d-flex">
            <div class="section_body_left">
                <div class="section_body_top">
                    <div class="section_body_top_title">
                        Top Questions
                    </div>
                    <div class="section_body_top_ask">
                        Ask Question
                    </div>
                </div>
                <div class="section_body_bottom">
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                    <div class="section_body_item d-flex align-items-center justify-content-between">
                        <div class="item_left">
                            <div class="item_left_avt">
                                <img src="https://www.vlance.vn/uploads/portfolio/view/c4a875224357fa0f1dce59defcb7a42b3d6d2cab1.jpg" alt="">
                            </div>
                            <div class="item_left_descrip d-flex flex-column">
                                <span>1000 like</span>
                                <span>1000 answers</span>
                            </div>
                        </div>
                        <div class="item_right">
                            <p class="item_right_title">Nghien cuu lam bai</p>
                            <div class="d-flex item_right_regex">
                                <span class="bg-info bg-gradient">python</span>
                                <span class="bg-info bg-gradient">regex</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section_body_pagenation">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="section_body_right">
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>