<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Tag Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/tag.css}">
<!--    <link rel="stylesheet" href="../static/css/reset.css" />-->
    <!-- <link rel="stylesheet" href="../static/css/home.css" /> -->
<!--    <link rel="stylesheet" href="../static/css/tag.css">-->

    <link rel="shortcut icon" type="image/png" th:href="${image.getShortCutIcon()}" />
</head>

<body>
    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="header_logo">
            <a href="#">
                <img src="https://toidicodedao.files.wordpress.com/2015/03/so-logo.png" alt="">
            </a>
        </div>
        <div class="header_search d-flex justify-content-center align-items-center">
            <p>Products</p>
            <div class="header_search_input w-100">
                <!-- <div>icon</div> -->
                <input />
            </div>
        </div>
        <div class="header_info d-flex align-items-center">
            <div class="header_info_notice">
                <img src="https://cdn.icon-icons.com/icons2/2070/PNG/512/box_icon_126495.png" />
                <!--                <i class="fa-solid fa-circle" style="color: #fa0025;"></i>-->
            </div>
            <div class="header_info_image">
                <img th:if="${#strings.startsWith(info.getAnhDaiDien(), 'http')}" th:src="${info.getAnhDaiDien()}" alt="Avatar">
                <img th:unless="${#strings.startsWith(info.getAnhDaiDien(), 'http')}" th:src="@{/images/{imageName}(imageName=${info.getAnhDaiDien()})}" alt="Avatar">
            </div>
        </div>
    </header>
    <section class="section_body d-flex">
        <nav class="navbar_list">
            <div class="navbar_items no_action">
                <p><a th:href="@{/home}">Home</a></p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/question}">Question</a></p>
            </div>
            <div class="navbar_items action">
                <p><a th:href="@{/tag}">Tag</a></p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/Saved}">Saved</a></p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/Users}">Users</a></p>
            </div>
        </nav>
        <div class="section_body_main d-flex">
            <div class="section_body_left">
                <div class="section_body_top">
                    <div class="body-top_text">
                        <p class="text-title">Tags</p>
                        <p class="text-content">
                            A tag is a keyword or label that categorizes your question with other, similar questions.
                            Using the right tags makes it easier for others to find and answer your question.
                        </p>
                    </div>
                    <div class="body-top_showAllTags">
                        <a href="#">Show all tag synonyms</a>
                    </div>
                    <div class="body-top_filterAndSearch d-flex">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input class="input-search" type="text" placeholder="Filter by tag name">
                        </div>
                        <div class="filter">
                            <a href="#" class="btn-item active">Popular</a>
                            <a href="#" class="btn-item">New</a>
                        </div>
                    </div>
                </div>
                <div class="section_body_bottom">
                    <!-- row-cols-xl-4 -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 my-4 card-content">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">javascript</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        For questions about programming in ECMAScript (JavaScript/JS) and its different
                                        dialects/implementations (except for ActionScript). Note that Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit amet
                                        est deleniti Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
                                        atque modi eius impedit sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">python</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Python is a dynamically typed, multi-purpose programming language. It is
                                        designed to be quick to learn, understand, and use, and enforces a Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">java</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        Java is a high-level object-oriented programming language. Use this tag when
                                        you're having problems using or understanding the language itself. This Lorem
                                        ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit
                                        sit amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#">C#</a>
                                    </h5>
                                    <p class="card-text v-truncate4">
                                        C# (pronounced "see sharp") is a high-level, statically typed, multi-paradigm
                                        programming language developed by Microsoft. C# code usually targets Lorem ipsum
                                        dolor sit, amet consectetur adipisicing elit. Nemo atque modi eius impedit sit
                                        amet est deleniti
                                    </p>
                                    <div class="card-bottom d-flex jc-space-between text-wrap">
                                        <p>3000 questions</p>
                                        <p>Created at: 20/02/2024</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section_body_pagenation">
                    <div class="pagination">
                    </div>
                </div>
            </div>
            <div class="section_body_right">

            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
<!--    <script src="../static/js/base.js"> </script>-->
<!--    <script src="../static/js/home.js"></script>s-->
<!--    <script src="../static/js/tag.js"></script>-->
<script th:src="@{/js/base.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/tag.js}"></script>
</body>

</html>