<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- <link rel="stylesheet" href="../static/css/home.css" /> -->
    <link rel="stylesheet" href="../static/css/user-detail.css">
    <link rel="shortcut icon" type="image/png" th:href="${image.getShortCutIcon()}" />
</head>

<body>
    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="header_logo">
            <a href="#">
                <img src="https://toidicodedao.files.wordpress.com/2015/03/so-logo.png" alt="">
            </a>
        </div>
        <div class="header_search d-flex justify-content-center align-items-center">
            <p>Products</p>
            <div class="header_search_input w-100">
                <!-- <div>icon</div> -->
                <input />
            </div>
        </div>
        <div class="header_info d-flex align-items-center">
            <div class="header_info_notice">
                <img src="https://cdn.icon-icons.com/icons2/2070/PNG/512/box_icon_126495.png" />
                <!--                <i class="fa-solid fa-circle" style="color: #fa0025;"></i>-->
            </div>
            <div class="header_info_image">
                <img th:src="${info.getAnhDaiDien()}" alt="avatar" />
            </div>
        </div>
    </header>
    <section class="section_body d-flex">
        <nav class="navbar_list">
            <div class="navbar_items no_action">
                <p>Home</p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/question}">Question</a></p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/tag}">Tag</a></p>
            </div>
            <div class="navbar_items no_action">
                <p><a th:href="@{/Saved}">Saved</a></p>
            </div>
            <div class="navbar_items action">
                <p><a th:href="@{/Users}">Users</a></p>
            </div>
        </nav>
        <div class="section_body_main d-flex">
            <div class="section_body_left">
                <div class="section_body_top">
                    <div class="box_info">
                        <div class="info_image">
                            <img src="https://images.vexels.com/media/users/3/145908/raw/52eabf633ca6414e60a7677b0b917d92-male-avatar-maker.jpg"
                                alt="...">
                        </div>
                        <div class="info_content">
                            <p class="name">jcalz</p>
                            <p class="intro">typescript, typescript-generics, typescript-typings</p>
                            <p class="school"><i class="fa-solid fa-school"></i> ABC University</p>
                            <p class="email"><i class="fa-regular fa-envelope"></i> jcalz@gmail.com</p>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" name="edit-info">
                            Edit profit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Update profit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            X
                                        </button>
                                    </div>
                                    <div class="modal-body form-edit">
                                        <form action="#" method="post">
                                            <div class="form-group">
                                                <label for="Ho">Họ</label>
                                                <input type="text" class="form-control" id="Ho" name="Ho" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="Ten">Tên</label>
                                                <input type="text" class="form-control" id="Ten" name="Ten" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="Truong">Trường</label>
                                                <input type="text" class="form-control" id="Truong" name="Truong">
                                            </div>
                                            <div class="form-group">
                                                <label for="Sdt">Số điện thoại</label>
                                                <input type="text" class="form-control" id="Sdt" name="Sdt">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="GioiThieu">Giới thiệu</label>
                                                <input type="text" class="form-control" id="GioiThieu" name="GioiThieu">
                                            </div>
                                            <div class="form-group">
                                                <label for="AnhDaiDien">Ảnh đại diện</label>
                                                <input type="file" class="form-control-file" id="AnhDaiDien" name="AnhDaiDien" required accept="image/*">
                                            </div>
                                            <button type="submit" class="btn btn-primary col-xl-12 text-center">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section_body_bottom my-4">
                    <!-- row-cols-xl-4 -->
                    <div class="row">
                        <div class="col-3">
                            <div class="row row-cols-2 number_general">
                                <div class="col">
                                    <div class="question">
                                        <p class="number">123</p>
                                        <p class="text">questions</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="answers">
                                        <p class="number">455</p>
                                        <p class="text">answers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 mx-3">
                            <div class="post mb-4">
                                <div class="post-title">
                                    <h4>Recent posts</h4>
                                </div>
                                <div class="post-content">
                                    <div class="post-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="answer">
                                <div class="answer-title">
                                    <h4>Recent answers</h4>
                                </div>
                                <div class="answer-content">
                                    <div class="answer-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                    <div class="answer-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                    <div class="answer-item">
                                        <div class="item-text">
                                            <i class="fa-solid fa-message"></i>
                                            <a href="#">Type hints with user defined classes</a>
                                        </div>
                                        <div class="date-create">
                                            Jun 20, 2017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="section_body_pagenation">
                    <div class="pagination"></div>
                </div> -->
                </div>
                <div class="section_body_right"></div>
            </div>
    </section>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="../static/js/base.js"> </script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/user-detail.js"></script>
</body>

</html>